
    *{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .Card1 {
      display: flex;
      padding: 50px 0px 150px;
      justify-content: center;
      }

    .linkComprar {
      color: #C92071;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 16px;
      width: 140px;
      padding: 10px;
      position: sticky; 
      z-index: 2;
    }

    .desconto {
      background-color: #E7FF86;
      border-radius: 20px;
      text-align: center;
      width: 80px;
      height: 30px;
      padding: 5px;
      font-weight: 700;
      font-size: 14px;
      color: #474747;
      font-family: "Inter", sans-serif;
    }

    .Card {
      background-color: #D8E3F2;
      width: 405px;
      height: 250px;
      border-radius: 10px;
      position: relative;
       overflow: hidden; /*para a imagem não vazar*/
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      gap: 2px;
    }

    .colecoes {
      color: #474747;
      font-size: 24px;
      font-weight: 700;
    }

  
    .img-card{
      z-index: 1;
      position: absolute;
    }

    .img-camisa{
      rotate: -22deg;
      left: 170px;
      top: 55px;
    }

    .text{
      width: 150px;
    }

    .img-tenis{
      rotate: -20deg;
      left: 200px;
      top: 55px;
    }

    .img-fone{
      rotate: 29deg;
      left: 250px;
      top: 55px;
    }


