.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

.input-search{
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius:  5px;
    background-color: #F5F5F5;
}
.login-options{
    display: flex;
    align-items: center;
}
.register-link{
    margin-right: 16px;
    color: #474747;
    cursor: pointer;
}
.button-enter{
    width: 114px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    border-radius: 8px;
    background: #c92071;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}
.nav{
    padding-top: 40px;
    padding-left: 27px;
    display: flex; 
}
.menu-nav{
    display: flex;
    width: 423px;
    height: 29px;
    top: 134px;
    left: 100px;
    gap: 40px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    list-style: none;
    cursor: pointer;
}
.link{
    color: #474747;
    cursor: pointer;
}
.carousel{
    position: relative;
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
    margin: auto;
}
.button-offer{
    width: 220px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: #c92071;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}