.header-bg{
    padding-left: 40px;
}

.input-search{
    width: 550px;
    height: 45px;
    border: 1px solid transparent;
    border-radius:  5px;
    background-color: #F5F5F5;
}

.fas{
    padding: 10px;
}

.login-options{
    gap: 10px;
}
.register{
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: #474747;
    cursor: pointer;
}

.button-enter{
    width: 114px;
    height: 40px;
    border-radius: 8px;
    background: #c92071;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.button-enter:hover{
    background-color: #c92072a2;
}

.cart-toggle{
    padding-left: 30px;
}
.menu-nav{
    padding-top: 20px;
    padding-left: 80px;
    gap: 20px;
}

.nav-container .menu-nav a {
    color: #474747;
    text-decoration: none;
}

.nav-container .menu-nav a:hover {
    color: #c92071;
    text-decoration: underline;
    font-weight: bold;
}

.carousel{
    background-color: #F5F5F5;
}

.carousel-inner {
    max-width: 80%;
    margin: 50 auto;
  }

.texts{
    padding-left: 50px;
}

.title{
    color: rgb(252, 174, 30);
    margin-top: -80px;
}

.announcement {
    font-size: 50px;
}

.button-see{
    width: 170px;
    height: 40px;
    border-radius: 8px;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}
    

