.oferta{
    color: #C92071;
    font-weight: 700;
  }
  
  .buttonOferta{
    color: #F5F5F5;
    font-weight: 700;
    width: 200px;
    height: 40px;
    background: #C92071;
  }
  
  .pg1{
    color: #474747;
  }
  
  .tituloAir{
    color: #474747;
  }