.conteudoCard:hover{
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transform: scale(1.05);
  transition: 1s;
}

.img {
  width: 292px;
}


.preco {
  color: #8F8F8F;
  font-size: 24px;
  margin-right: 10px;
  text-decoration: line-through;
  text-decoration-color: #8F8F8F;
  text-decoration-thickness: 1px;
  }
  

.precoDesconto {
  color: #1F1F1F;
  font-size: 24px;
}
